@media (max-width: 767px) {
    .pc{
        display: none;
    }
}
@media (min-width: 767px) {
    .telefono{
        display: none;
    }
}
#header-telefono{
    background-color: #006994;
    padding: 2%;
}
#titulo{
    font-family: sans-serif;
    margin: auto;
    text-align: center;
}